* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  outline: 0;
}

body {
  background: #d5d5d5;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
